<div class="container">
<%= form_with(model: @rate, url: "/admin", remote: true) do |form| %>
  <p>
    <%= form.label :value, "Обменный курс" %><br>
    <%= form.text_field :value, value: Rate.last.value %>
  </p>
  <br>
  <p>
    <%= form.label :end_date, "Дата окончания" %><br>
    <%= form.datetime_select :end_date, selected: Rate.last.end_date %>
  </p>
  <br>
  <p>
    <%= form.submit "Установить курс", class: "btn btn--primary" %>
  </p>
<% end %>
</div>
